{%extends 'base2.html'%}
{% block body %}


{% load static %}

<style type="text/css">
  #bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
</style>



<div class="container-fluid" style="padding-top: 50px">
  <div class="row">


    <div  class="col-sm-3" style="margin: auto;">

      <div class="panel panel-default">

          <h3 class="panel-title" style="color: #007bff;text-align: center;">Sign In</h3>

       
          <form class="card" method="POST" action="">

            {% csrf_token %}

            <div class="form-group">
              <input class="form-control" placeholder="Username" name="username" type="text" required="">
              <br>
              <input class="form-control" placeholder="Password" name="password" type="password" value="" required="">
            </div>
            <input class="btn btn-lg bg-primary btn-block" type="submit" value="Login">
            <br>
            <br>
            {% for message in messages %}
            <a class="alert alert-danger" style="color:red;"> {{ message }}</a>
            {% endfor %}
            <br>



          
          </form>
          <div class="text-center text-muted">
            Don't have account yet? <a href="{% url 'register'%}">Sign up</a>
          </div>
        </div>
      </div>

    </div>










  </div>


</div>


{% endblock %}